<!--Footer Starts-->
<footer class="card footer-card">
    <div class="container-fluid">
        <!--Accordion Starts-->
        <section id="accordion" style="padding:0 10%;">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="content-header" class="fgreen">
                        <i class="icon-question"></i> Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="row" style="margin-bottom: 96px;">
                <div class="col-md-8" >
                    <!--One open panel at a time Starts-->
                    <ngb-accordion [closeOthers]="true" activeIds="1">
                        <ngb-panel id="1">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">How does SMART Lite work?


                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext">SMART Lite takes fertilization and farming to the next level by matching the actual nutrition needs of your crops with the elements existing in your soil as revealed in your
								soil tests. Thus, our fertilizer plans prevent over or under fertilization, protect the environment, cut back on fertilizer costs, 
								lead to healthier crops and – on average – a 15% increase of yields. 
								</p>
								<p class="extext">Based on scientific research and used by farmers worldwide, SMART Lite advanced algorithms take all 13 elements – macro and micro nutrients – 
								into account to deliver you a professional and actionable fertilization plan
								</p>


                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="2">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">What does a SMART Fertilizer Plan look like?</span>

                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext">SMART Lite provides you with an actionable fertilizer plan, that will list the following information:</p>
								<p class="extext"><i _ngcontent-c2="" class="fa fa-asterisk"></i> ITEM 1
                                       </p>
									   <p class="extext"><i _ngcontent-c2="" class="fa fa-asterisk"></i> ITEM 2
                                       </p>
									   <p class="extext"><i _ngcontent-c2="" class="fa fa-asterisk"></i>&nbsp;ITEM 3
                                       </p>
								<p class="extext"><a href="#"><strong>CLICK HERE TO SEE AN EXAMPLE!</strong></a> </p>



                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="3">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">Is SMART Lite right for me? What is the difference to SMART Premium software? 


                                </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext">Both SMART Lite and SMART Premium (link to Premium page) are based on the same algorithms and will deliver 
								highly professional fertilizer plans. </p>
								<p class="extext">With SMART Lite we wanted to live up to our slogan “Changing agriculture, one field at the time” and give each farmer an easy access to advanced farming software. SMART Lite is right for you if you want a fertilization plan for soil-grown crops and 
								if you want to experience the benefits of precise fertilization for the first time.  </p>
								<p class="extext">If you want to introduce precise fertilization on a larger scope and regular base to your farming operations, 
								you should consider SMART Premium. Not only will this be more economic, but also you will be able to enjoy the many additional features of 
								SMART Premium, such as Management, Monitoring, User-defined Crops and Fertilizers, and many more. </p>


                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="4">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">Does it matter how many elements my soil test looked at?</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext"><strong>The more detailed your soil test the better!</strong> Try to find a lab that can provide you with a detailed test, that 
								will include testing of all micro nutrients. </p>
								<p class="extext"><strong>If you have test results of only some of the elements, you can still use <i>SMART Lite</i>.</strong> But keep in mind, the goal is to optimize your fertilization. The more input we have on the current condition of your field, the more precise a 
								fertilizer plan SMART Lite can provide you with. </p>
                   
                            </ng-template>
                            </ngb-panel>
						<ngb-panel id="5">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">What are &quot;Extraction Methods&quot; and why they are important?</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext">When going through the SMART Lite wizard, you will be asked to enter soil test results together with the extraction methods used. It is important that you enter them 
								correctly as found on the soil test results you have. </p>
								<p class="extext">The extraction method is the method used to extract a specific nutrient from the soil sample. Every extraction method is relevant for a specific soil character and to get a 
								good estimation of the availability of the nutrient.</p>
								<p class="extext">For example: Olsen/Bray 1 is a common method used for Phosphorus, Ammonium Acetate/ Mehlich 3 for Potassium, DTPA for micro 
								elements, etc.</p>
								<p class="extext">For more information, read our article 
								<a href="https://www.smart-fertilizer.com/articles/extraction-method" target="_blank">Interpreting Soil Test Results - The Extraction Method</a>.</p>
                            </ng-template>
                        </ngb-panel>
						<ngb-panel id="6">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">Is SMART Lite for hydroponic growers?</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext">Currently SMART Lite only delivers fertilization plans for soil-grown crops. Please consider purchasing our <a href="#" target="_blank">SMART Premium</a> software,
								which fully supports hydroponics. </p>
							</ng-template>
                        </ngb-panel>
						<ngb-panel id="7">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">I am using fertigation – can I use SMART Lite?</span>


                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext">Yes. SMART Lite fertilization plans are suitable for fertigation. But bear in mind, 
								that you will have to calculate your solution on your own from the plan’s details. </p>
								<p class="extext">If you want to avoid manual calculation of your fertigation tanks, please consider purchasing our <a href="#" target="_blank">SMART Premium</a> software.</p>
							</ng-template>
                        </ngb-panel>
						
						<ngb-panel id="8">
                            <ng-template ngbPanelTitle>
                                <span class="green-text">Still have open questions?</span>



                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p class="extext">Feel free to contact us with your additional questions at <a href="mailto:support@smart-fertilizer.com">support@smart-fertilizer.com</a>.</p>
							</ng-template>
                        </ngb-panel>

                    </ngb-accordion>
                    <!--One open panel at a time Ends-->
                </div>
                <div class="col-md-4" style="margin: auto 0;" >
                    <img src="assets/img/hand-plant.png" style="height: 350px;">
                </div>
            </div>

        </section>
        <!--Accordion Ends-->

    </div>
</footer>
<footer class="card footer-card">
    <div class="container-fluid">
        <p class="copyright text-center fcopy">
            Copyright &copy; {{currentDate | date: 'yyyy'}} , All rights reserved. SMART Fertilizer Management &nbsp;&nbsp;     |
            <a class="fpadding" href="https://www.smart-fertilizer.com/" target="_blank">SMART Home</a>   |
            <a class="fpadding" href="https://www.smart-fertilizer.com/About-Us" target="_blank">About Us</a>   |
            <a class="fpadding" href="#" target="_blank">Terms of Use</a>   |
            <a class="fpadding" href="#" target="_blank">Privacy Policy</a>   |

        </p>

    </div>
</footer>
<!--Footer Ends-->